// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "bootstrap/scss/bootstrap";
// @import 'bootstrap/dist/css/bootstrap.css';

// Then add additional custom code here

.nav-dark-style {
    background-color: $cyan-400;
    color: black;
}

[data-bs-theme=dark] {
    --bs-emphasis-color-rgb: 0, 0, 0;
    --bs-heading-color: rgb(222, 226, 230);
    .modal-content {
        color: rgb(222, 226, 230);
    }
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 60px;
}

body {
    background-color: #1C1C1C !important;
    background: url('@/assets/img/bg.png') no-repeat fixed bottom; 
}